.black{
	background-color: #000000 ;
}
.white{
	color: #fff
}
.center{
	text-align: center;
}
#inline{
	display: inline;
	margin-top: 0;
}
button{
	margin:auto;
	width: 100%;
}
.center2{
	margin:auto;
	width:100%;
}